/* || GLOBAL STYLING */
:root {
    --bg: white;
    --bold: 800;
    --reg: 400;
}

/* || TEXT STYLING */
h1 {
    font-weight: --var(bold);
    text-transform: capitalize;
    text-align: center;
}

p {
    font-weight: --var(reg);
}

body {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    margin: 1%;
}

.caps {
    text-transform: uppercase;
}

/* || IMAGE STYLING */
#icon {
    height: 100px;
}

/* || DIV STYLING */
#quiz {
    background-color: black;
    color: white;
    padding: 4%;
    margin: auto;
    width: 50%;
}

#result {
    background-color: red;
    padding: 4%;
    margin: auto;
    width: 50%;
}

.spacer {
    height: 20px;
}